.home {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
}

.home__header__link,.home__header__nolink {
  padding: 10px;
  background-color: rgb(192, 194, 90);
  text-decoration: none;
  border-radius: 5%;
  margin: 0px 10px;
  color: #333333;
}

.home__header__link:hover {
  background-color: rgb(121, 122, 67);
}


.home__header__title {
  font-weight: bold;
  font-size: larger;
  padding: 0px 20px;
}

.home__header {
  flex: 0;
  display: flex;
  align-items: center;
  background-color: rgb(236, 236, 236);
}

.content {
  flex: auto;
  display: flex;
  height:100%;
}

.content__recipes {
  width: 30vw;
  height:100%;
  background-color: rgb(127, 140, 255);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.content__recipes__recipe {
  background-color: rgb(240, 200, 200);
  width:70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px grey solid;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.content__recipes__card {
  border: 1px grey solid;
  padding: 20px 10px;
  text-decoration: none;
  color: black;
}

.content__recipes__recipe__title {
  font-size: larger;
  font-weight: bold;
}

.content__recipes__recipe__summary {
  display: flex;
}

.recipe__ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe__ingredients__ingredient {
  padding: 5px;
  text-align: center;
}
