.home {
  display: flex;
}

.home__recipes {
  width: 30%;
  background-color: rgb(127, 140, 255);
  display: flex;
  flex-direction: column;
}

.home__recipes__recipe {
  background-color: rgb(240, 200, 200);
  flex:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px grey solid;
}

.home__recipes__card {
  border: 1px grey solid;
  padding: 20px 10px;
  text-decoration: none;
  color: black;
}

.home__recipes__recipe__title {
  font-size: larger;
  font-weight: bold;
}

.home__recipes__recipe__summary {
  display: flex;
}

.recipe__ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe__ingredients__ingredient {
  padding: 5px;
}