html {
  font-size: 62.5%;
  display: flex;
}

.home {
  flex: auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-size: 2rem;
}

.home__header__link,
.home__header__nolink {
  padding: 1rem;
  text-decoration: none;
  border-radius: 5%;
  margin: 0.2rem 1rem;
  color: #333333;
}

.home__header__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.home__header__title {
  font-weight: bold;
  font-size: larger;
  padding: 0px 2rem;
}

.home__header {
  flex: 0;
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-bottom: 0.07rem solid #bbb;
}

@media (max-width: 700px) {
  .home__header {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-bottom: 0.07rem solid #bbb;
  }

  .home__header__link,
  .home__header__nolink {
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5%;
    margin: 0.2rem 1rem;
    color: #333333;
  }
}

.admin__dashboard__buttons {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
}

.admin__button {
  flex: 0;
  min-width: 30rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eee;
  border: 0.1rem solid #333;
}

.admin__button__title {
  font-size: 2.5rem;
  color: #333;
  padding: 1rem 0;
}

.admin__button__desc {
  align-content: center;
  padding-bottom: 5rem;
  font-size: 2rem;
  color: #666;
  font-style: italic;
}

.login__background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
}

.ingredient__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredient__card {
  background-color: aqua;
  padding: 1rem;
  margin: 1rem;
}

.login__box {
  padding: 1.5rem;
  background-color: #eee;
  border-radius: 1.5rem;
  font-size: 2rem;
}

.login__form__field {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.login__form__field > input {
  width: 30rem;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.4rem;
  border-style: none;
  border-left: blue solid 0.2rem;
  font-size: 1.8rem;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__send {
  align-self: center;
  width: 20rem;
  font-size: 1.8rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.1rem;
  background-color: rgb(135, 197, 255);
  margin: 0.1rem;
}

.login__form__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.login__form__field__error > input {
  border: red 0.2rem solid;
}

.login__form__error {
  flex: 0;
  width: 30rem;
  font-style: italic;
  color: red;
  text-align: center;
  padding: 0.3rem 0;
}

.login__send:hover {
  background-color: rgb(115, 167, 216);
  cursor: pointer;
}

.login__form__password__criteria {
  color: #444;
  font-style: italic;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.content__recipes {
  flex: auto;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: thin;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: center;
  flex: 0;
  height: fit-content;
}

.content__recipes__recipe {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px grey solid;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.content__recipes__card {
  margin: 2rem;
  box-shadow: 0.7rem 0.5rem #777;
  background-color: #f5f5f5;
  padding: 2rem 1rem;
  text-decoration: none;
  color: black;
  flex: 0;
  min-width: 30rem;
  max-width: 30rem;
  max-height: 15rem;
  display: flex;
  flex-direction: column;
}

.content__recipe__card__name {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: auto;
}

.content__recipes__card:hover {
  max-height: fit-content;
}

@media (max-width: 700px) {
  .content__recipes__card {
    max-height: fit-content;
  }
}

.content__recipes__recipe__title {
  font-size: larger;
  font-weight: bold;
}

.content__recipes__recipe__summary {
  display: flex;
}

.recipe__ingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe__ingredients__ingredient {
  padding: 5px;
  text-align: center;
}
